@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
:root {
  --main-bg-color: #191820;
  --alt-bg-color: #34659B;
  --light-main-color: #272532;
  --contrast-bg-color: #FF9D02;
  --nav-height: 3.25rem;
}

body, html{
  font-family: 'Source Code Pro', monospace;
  background-color:var(--main-bg-color);
  font-size:20px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position:relative;
  z-index:0;
}

.underline{
  transition: all .35s ease-in-out;
  position: absolute;
  border-bottom: 4px solid transparent;
  border-color: white;
  z-index: -1;
  transform: translateX(-60px);
}


.header-image {
  width: 2.5em;
  height: 2.5em;
  margin-top:5px;
}
.header-middle{
  display:flex;
  justify-content: center;
  align-items:center;
  gap: 20px;
  list-style-type: none;
}

.header-middle > a {
  display:block;
  transition: all .35s ease-in-out;
  text-decoration: none; 
  color:white;
  font-size: 1em;
}

.header{
  font-family: 'Source Code Pro', monospace;
  display:flex;
  background: transparent;
  justify-content: space-between;
  align-items:center;
  position:fixed;
  left:0px;
  top:0px;
  width:calc(100% - 2vw);
  height: var(--nav-height);
  transition: transform 0.15s;
  z-index: 2;
  padding: 0 1vw 0 1vw;
}

.header-hidden{
  transform:translateY(calc(-1 * var(--nav-height)));
  transition: transform 0.15s;
}

.fullscreen-container{
  position:relative;
  
  font-size: 1.7vw;
  padding:0 5px;
  min-height: 100vh;
  width:100%-10px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/WebsiteMainPhoto.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-words{
  width:fit-content;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.banner-words > h1{
  font-size:5em;
  line-height: 1em;
  color:white;
  margin:0em;
  text-align:right;
}

.banner-words > h2{
  font-size:1em;
  line-height: 1em;
  color:white;
  margin:0em;
}
.banner-top{
  width:fit-content;
  display: flex;
  flex-wrap:wrap;
}
.biglogo{
  width:10em;
  height:10em;
}

.register{
  line-height:1em;
  background-color: #d18d35; 
  border: none;
  color: white;
  margin: .5em .5em 0 .5em;
  padding: 1em 3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 15px;
}
.register:hover{
  background-color: #ca9b5d; 
}
.smallerbutton{
  font-size:calc(var(--nav-height) * 0.2);
}

.mountains{
  width:100%;
  position:absolute;
  bottom:0px;
  left:0px;
  pointer-events: none
}
section{
  /*insert standard text size and font for each section*/
  padding:10vh 15vw 10vh 15vw;
  font-size: 1.5vw;
  color:white;
}

.title{
  font-size: 2em;
  color:white;
}
.about{
  padding:15vh 15vw 15vh 15vw;
  position:relative;
  line-height:1.5em;
  color:gray;
}
.svgboundarytop{
  position:absolute;
  left:0;
  bottom:-5px;
  width:100%;
  color:var(--alt-bg-color);
  z-index:-2;
}
.svgboundarybottom{
  position:absolute;
  left:0;
  top:-15vw;
  width:100%;
  color:var(--alt-bg-color);
  z-index:-2;
  transform: rotate(180deg);
}
.aboutbox {
  font-size: 1em;
  padding: 40px;
  --borderWidth: 7px;
  background: var(--main-bg-color);
  position: relative;
  border-radius: var(--borderWidth);
}
.aboutbox::after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index:-1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
.aboutbox > div {
  margin-bottom: 0.5em;
  color:var(--contrast-bg-color);
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




.abbey-link, .abbey-link:visited{
  color:inherit;
  line-height:inherit;
  display: inline;
  font-size:inherit;
}
.abbey-link:hover, .abbey-link:active{
  color:skyblue;
  line-height:inherit;
  display: inline;
  font-size:inherit;
}
/* FAQ */
.faq {
  padding:10vh 15vw 5vh 15vw;
  position:relative;
}
ul {
  padding-inline-start: 0;
}
.question-grid {
  display:grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, minmax(11rem, 1fr));
  grid-auto-rows: minmax(5rem, auto);
  list-style-type: none;
  overflow:auto;
  margin: 1rem 0 0;
}

.question-box {
  width:100%;
  display: list-item;
  font-size: 1.5em;
  border-radius:10px;
  border-width: 5px;
  border-color: var(--contrast-bg-color);
  overflow: hidden;
  background-color: var(--light-main-color);
  color:gray;
  font-family: 'Source Code Pro', monospace;
  text-align:left;
}
.question {
  margin: 1.5rem 1rem;
  pointer-events:none;
  font-size:0.8em;

}
.answer {
  color:var(--contrast-bg-color);
  margin: 0 1rem .5rem 1rem;
  pointer-events: none;
  transition: margin 0.2s;
  height: auto;
  font-size: .6em;
}
.hidden {
  margin: 0 1rem 0rem 1rem;
  height: 0;
}
.faqemail {
  font-size: 1em;
}

/* SPONSORS */
.sponsorbox{
  background-color:white;
  color:black;
  justify-content: center;
  align-items:center;
  padding:1em;
  border-radius: 10px;
}

.sponsor-img{
  max-width: 100%;
  height: auto;
  justify-content: center;
  align-items:center;
}

.sponsor{
  height: 250px;
  display: flex;
  text-decoration:none;
  justify-content: center;
  align-items:center;
  transition: 0.7s ease;
  padding: 25px;
}

.sponsor:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.05);
  transition: 0.4s ease;
  }

.sponsors-inbox{
  display:grid;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
  gap: 1.8em;
  list-style-type: none;
}


/* team */
.team > h1{
  text-align:center;
}
.execs{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content: center;
}
.exec-box{
  width:10em;
  margin: 1em;
}
.exec-box > h2{
  font-size: 1.25em;
  text-align:center;
}

.exec-box > p{
  font-size: .75em;
  text-align:center;
}
.exec-img{
  margin: 0px 10% 0px 10%;
  width: 80%;
  border-radius: 10px;
}

/* LINKS */
.link-sector{
  display:flex;
  width: 100px;
  justify-content: center;
  align-items:center;
  gap: 0px;
  list-style-type: none;
}

.link-sector > a {
  text-decoration: none; 
  color:black;
  font-size: 1em;
}

.links{
  position: block;
  height:4rem;
  left:0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: black;
  text-align: center;
  display:flex;
  justify-content: flex-end;
  align-items:center;
  gap:0px;
}

.link-icon {
  width: 2.5em;
  height: 2.5em;
}

.social-icon {
  width: 2000%;
  height: 2000%;
  transition: color 0.2s;
  text-decoration:none;
}

.social-icon:hover{
  color:aliceblue;
}

.justify-start {
  margin-right: auto;
  padding-left: 2%;
}

ion-icon {
  font-size: 2em;
  text-decoration:none;
  pointer-events :none;
}

@media screen and (max-width: 992px){
  :root {
    --nav-height: 6rem;
  }
  section{
    padding:10vh 5vw;
  }
  .header{
    font-size:35px;
  }
  .question-grid {
    grid-template-columns: repeat(1, minmax(11rem, 1fr));
  }
  .fullscreen-container{
    font-size: 4vw;
  }
  .question-box{
    font-size:2.5em;
  }
  .biglogo {
    display:none;
  }
  .exec-box{
    margin: 1em;
    font-size: 1.5em;
  }
  .sponsor-inbox {
    gap: 1.8em;
    position: relative;
    margin: auto;
  }
  .sponsor {
    padding: 10px;
  }
  .sponsors {
    padding: 80px;
  }
}
