#banner{
  /* */
  height: 400px;
  width: 100%;
  background-image: url("./Assets/EurekaWebBack.png");
  background-repeat: no-repeat, no-repeat;
}

.section{
  /*insert standard text size and font for each section*/
  font-size: 10px;
}