.banner-words{
  display: flex;
  flex-direction:column;
}
.banner-top{
  display: flex;
}
.banner-full{
  display: flex;
}

#banner{
  /* */
  height: 400px;
  width: 100%;
  background-image: url("./assets/EurekaWebBack.png");
  background-repeat: no-repeat, no-repeat;
}

.section{
  /*insert standard text size and font for each section*/
  font-size: 10px;
}