@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
:root {
    font-family: 'Source Code Pro', monospace;
    --main-bg-color: #191820;
}

.header-image {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1%;
    top: 0.9%;
  }

  
.header{
    display:flex;
    background: transparent;
    justify-content: center;
    align-items:center;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    gap:20px;
}

.label {
    font-size: 30;
}

body, html{
  background-color:var(--main-bg-color);
  font-size:22px;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 750px;
  margin: 0 auto 50px;
  color:white;
}

.donation {
    height: 100%;
    width: 100%;
}

.back{
    line-height:1em;
    background-color: #d18d35; 
    border: none;
    color: white;
    margin: .5em .5em 0 .5em;
    padding: 1em 3em;
    position:absolute;
    top: 1%;
    right: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 15px;
}
.back:hover{
    background-color: #ca9b5d; 
}

.time-slot {
    grid-column: times;
    text-align:center;
}

.track-slot {
    display: none;
    box-shadow:
    rgba(0,0,0,.3) 1px 1px 0,
    rgba(77,77,77,.6) 4px 4px 0;
    
}

.session {
    margin-bottom: 1em;
    padding: .5em;
    border-radius: 25px;
    font-size: 14px;
    border-radius:10px;
    box-shadow:
    rgba(0,0,0,.3) 1px 1px 0,
    rgba(77,77,77,.6) 4px 4px 0;  
}
@media screen and (max-width: 700px) {
        .session {
        padding: .5em;
        border-radius: 25px;
        font-size: 14px;
        border-radius:10px;
        margin: 0em 0em 1em 0em;
        box-shadow:
        rgba(0,0,0,.3) 1px 1px 0,
        rgba(77,77,77,.6) 4px 4px 0;
    }	
}

.title,
.time,
.room {
	display: block;
}

.title,
.time-slot {
	margin: 0;
	font-size: 1em;
}

.track-slot,
.time-slot {
	font-weight: bold;
	font-size:.75em;
    padding-bottom: 0.8em;
}

.track-1 {
	background-color: #D18D35;
	color: #fff;
}

.track-2 {
	background-color: #176B99;
	color: #fff;
}

.track-3 {
    background-color: #5C9936; 
    color: #fff;
}

.track-4 {
    background-color: #CC2AD1;
    color: #fff;
}

.track-all {
	justify-content: center;
	align-items: center;
	background: #ccc;
	color: #191820;
}

.meta {
	color: #555;
	font-style: italic;
}


hr {
	margin: 40px 0;
}


@media screen and (max-width: 800px){
    :root {
      --nav-height: 6rem;
    }
    section{
      padding:5vh 3vw;
    }
    .back{
      font-size:0.94em;
      padding: 0.8em 1.5em;
      position:relative;
      top: 0.3em;
      left: 0.3em;
    }
    .header-image {
        display: none;
    }
    .label {
        padding: 0em 0.4em;
    }
    .schedule {
        padding: 0em 0.8em;
    }
    
}
@media screen and (max-width: 900px) {
    .header-image {
        display: none;
    }
}