@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
:root {
    font-family: 'Source Code Pro', monospace;
    --main-bg-color: #191820;
}

.header-image {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1%;
    top: 0.9%;
  }

  
.header{
    display:flex;
    background: transparent;
    justify-content: center;
    align-items:center;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    gap:20px;
}

.label {
    font-size: 30;
}

body, html{
  background-color:var(--main-bg-color);
  font-size:22px;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 750px;
  margin: 0 auto 50px;
  color:white;
}

.back{
    line-height:1em;
    background-color: #d18d35; 
    border: none;
    color: white;
    margin: .5em .5em 0 .5em;
    padding: 1em 3em;
    position:absolute;
    top: 1%;
    right: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 15px;
}
.back:hover{
    background-color: #ca9b5d; 
}

@media screen and (min-width:700px) {
	.schedule {
		display: grid;
		grid-gap: 1em;
		grid-template-rows:
			[tracks] auto
			[time-0900] 1fr
			[time-0915] 1fr
			[time-0930] 1fr
			[time-0945] 1fr
			[time-1000] 1fr
			[time-1015] 1fr
			[time-1030] 1fr
			[time-1045] 1fr
            [time-1100] 1fr
            [time-1115] 1fr
            [time-1130] 1fr
            [time-1145] 1fr
            [time-1200] 1fr
            [time-1215] 1fr
            [time-1230] 1fr
            [time-1245] 1fr
            [time-1300] 1fr
            [time-1315] 1fr
            [time-1330] 1fr
            [time-1345] 1fr
            [time-1400] 1fr
            [time-1415] 1fr
            [time-1430] 1fr
            [time-1445] 1fr
            [time-1500] 1fr
            [time-1515] 1fr
            [time-1530] 1fr
            [time-1545] 1fr
            [time-1600] 1fr
            [time-1615] 1fr
            [time-1630] 1fr
            [time-1645] 1fr
            [time-1700] 1fr
            [time-1715] 1fr
            [time-1730] 1fr
            [time-1745] 1fr
            [time-1800] 1fr
            [time-1815] 1fr
            [time-1830] 1fr
            [time-1845] 1fr
            [time-1900] 1fr
            [time-1915] 1fr
            [time-1930] 1fr
            [time-1945] 1fr
            [time-2000] 1fr
            [time-2015] 1fr
            [time-2030] 1fr
            [time-2045] 1fr
            [time-2100] 1fr;

            grid-template-columns:
            [times] 4em
			[track-1-start] 1fr
            [track-1-end track-2-start] 1fr
            [track-2-end];
    }
}

.time-slot {
    grid-column: times;
    text-align:center;
}

.track-slot {
    display: none;
    box-shadow:
    rgba(0,0,0,.3) 1px 1px 0,
    rgba(77,77,77,.6) 4px 4px 0;
}

@supports ( display:grid ) {
    @media screen and (min-width:700px) {
        .track-slot {
            display: block;
            position: relative;
            top: 0;
            z-index: 1000;
            
            line-height:1em;
            background-color: #d18d35; 
            margin-top: .5em;
            padding: 1em 0.5em;
            text-decoration: none;
            display: inline-block;
            font-size: 1em;
            border-radius: 15px;
        }
    }
}

.session {
    margin-bottom: 1em;
    padding: .5em;
    border-radius: 25px;
    font-size: 14px;
    border-radius:10px;
    box-shadow:
    rgba(0,0,0,.3) 1px 1px 0,
    rgba(77,77,77,.6) 4px 4px 0;  
}
@media screen and (max-width: 700px) {
        .session {
        padding: .5em;
        border-radius: 25px;
        font-size: 14px;
        border-radius:10px;
        margin: 0em 0em 1em 0em;
        box-shadow:
        rgba(0,0,0,.3) 1px 1px 0,
        rgba(77,77,77,.6) 4px 4px 0;
    }	
}

.title,
.time,
.room {
	display: block;
}

.title,
.time-slot {
	margin: 0;
	font-size: 1em;
}

.track-slot,
.time-slot {
	font-weight: bold;
	font-size:.75em;
}

.track-1 {
	background-color: #1259B2;
	color: #fff;
}

.track-2 {
	background-color: #687f00;
	color: #fff;
}

.track-all {
	justify-content: center;
	align-items: center;
	background: #ccc;
	color: #191820;
}

.meta {
	color: #555;
	font-style: italic;
}


hr {
	margin: 40px 0;
}


@media screen and (max-width: 800px){
    :root {
      --nav-height: 6rem;
    }
    section{
      padding:5vh 3vw;
    }
    .back{
      font-size:0.94em;
      padding: 0.8em 1.5em;
      position:relative;
      top: 0.3em;
      left: 0.3em;
    }
    .header-image {
        display: none;
    }
    .label {
        padding: 0em 0.4em;
    }
    .schedule {
        padding: 0em 0.8em;
    }
    
}
@media screen and (max-width: 900px) {
    .header-image {
        display: none;
    }
}